body {
  background-color: #F2F2F2;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.links{
  text-decoration: none;

}
.input-box{
  background-color: white;
  width: 100%;
}