body {
  background-color: #F2F2F2;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
  font-size: 1.7rem;
}
.links{
  text-decoration: none;
  color: #5D534C;
  

}
.input-box{
  background-color:#F7F7F7;
  border: none;
  height:25px;
  width: 25rem;
  font-size: 1.2rem;
}